*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}
.img-banner {
    background: url(../img/design1_image1.jpg);
    height: 400px;
    background-size: cover;
    background-position: top;
}
header h1 {
    font-size: 70px;
    color: #000000;
    margin: 0px 30px;
}

.section {
    position: relative;
}
.logo {
    width: 150px;
    position: absolute;
    top: -60px;
    right: 40px;
}

h2 {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
nav {
    display: inline-block;
    width: 300px;
    
    position: relative;
}
nav a {
    display: block;
    padding: 0px 32px 50px 32px;
    font-size: 18px;
    color: #00FF;
}

a.active {
  color: #000000;
  text-decoration: none;

}

ul {
    display: inline-block;
    list-style: none;
}

ul li {
    margin-bottom: 15px;
}
ul li p{
    font-size: 20px;
    padding-left: 50px;
}

li>h3 {
    font-style: italic;
}

.imagen-equipo {
    width: 300px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 15px;
}




