*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}
.img-banner {
    background: url(../img/design1_image1.jpg);
    height: 400px;
    background-size: cover;
    background-position: top;
}
header h1 {
    font-size: 70px;
    color: #000000;
    margin: 0px 30px;
}
.section {
    position: relative;
}
.logo {
    width: 150px;
    position: absolute;
    top: -60px;
    right: 40px;
}

.section h2 {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
nav {
    position: absolute;
    top: 500px;
}
nav a {
    display: block;
    padding: 0px 32px 50px 32px;
    font-size: 18px;
    color: #00FF;
}
a.active {
  color: #000000;
  text-decoration: none;

}
ul {
    list-style: none;
    width: 600px;
    position: relative;
    top: 50px;
    left: 200px;
}
ul li {
    margin-bottom: 15px;
}
ul li h3 {
    font-size: 25px;
    font-weight: bold;
}
ul li p{
    font-size: 20px;
}
.parrafo {
    padding-left: 25px;
}

li>h3 {
    font-style: italic;
}
.imagen-equipo {
    position: absolute;
    width: 300px;
    top: 500px;
    right: 50px;
    border-radius: 15px;
}

/* About */
.lista li h3 {
    font-style: normal;
}
p.primeraLinea {
    text-indent: 40px;
}




